<div class="container text-center">
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>
</div>

<div class="row form-group">
  <div class="container text-center">
    <legend class="buffer-top">Регистрация пользователя</legend>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% devise_error_messages! %>
      <fieldset class="input-lg">
        <span class="glyphicon glyphicon-envelope mr"></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Введите email...' %>
      </fieldset>

      <fieldset class="input-lg">
        <span class="glyphicon glyphicon-user  mr"></span>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Введите имя...' %>
      </fieldset>

      <div class="input-lg">
        <span class="glyphicon glyphicon-lock  mr"></span>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Придумайте пароль...' %>
      </div>

      <div class="input-lg">
        <span class="glyphicon glyphicon-repeat  mr"></span>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Повторите пароль...' %>
      </div>

      <div class="actions">
        <button class="btn btn-danger buffer-top">
          Я к вам!
          <% f.submit %>
        </button>
      </div>

    <% end %>

    <div class="row buffer-top">
      Уже с нами?
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
